aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gTTS
gitpython
hachoir
heroku3
httpx[http2]==0.25.2
kurigram==2.1.35
motor
numpy
opencv-python
pillow==9.5.0
psutil
pydub
py-tgcalls==0.9.7
pykeyboard
python-dotenv
pyyaml
pytz
requests
speedtest-cli
spotipy
telegraph
tgcrypto
unidecode
yt-dlp
youtube-search
youtube-search-python
